<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/static/material/material.min.css">
</head>
<body>
    <h1>Welcome to your Home Server!</h1>
    <p>Below you can see some statistics from your server</p>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Container Name</th>
                <th class="mdl-data-table__cell--non-numeric">ID</th>
                <th class="mdl-data-table__cell--non-numeric">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in containers %}

            <tr>
                <td class="mdl-data-table__cell--non-numeric">{{ item.attrs['Name'] }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ item.attrs['Id'] }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ item.attrs['State']['Status'] }}</td>
                <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="startContainer('{{ item.attrs['Name'] }}')">Start</button></td>
                <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onclick="stopContainer('{{ item.attrs['Name'] }}')">Stop</button></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    <script>
        function stopContainer(name) {
            if(name.startsWith('/')) {
                name = name.substring(1)
            }
            fetch('http://localhost:{{port}}/stop/'+name, {
                method: "POST", // *GET, POST, PUT, DELETE, etc.
                mode: "no-cors", // no-cors, cors, *same-origin
                // cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                // credentials: "same-origin", // include, *same-origin, omit
                redirect: "follow", // manual, *follow, error
                referrer: "no-referrer", // no-referrer, *client
            })
            .then(response => response.json()).then(json => {
                console.log('Received')
            }) // parses response to JSON)
        }

        function startContainer(name) {
            if(name.startsWith('/')) {
                name = name.substring(1)
            }
            fetch('http://localhost:{{port}}/start/'+name, {
                method: "POST", // *GET, POST, PUT, DELETE, etc.
                mode: "no-cors", // no-cors, cors, *same-origin
                // cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                // credentials: "same-origin", // include, *same-origin, omit
                redirect: "follow", // manual, *follow, error
                referrer: "no-referrer", // no-referrer, *client
            })
            .then(response => response.json()).then(json => {
                console.log('Received')
            }) // parses response to JSON)
        }
    </script>

    <style>
        body {
            padding: 12px;
            width: 100%;
            overflow: hidden;
        }
    </style>
</body>
</html>
