<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/static/material/material.min.css">
</head>
<body>
    <h1>Welcome to your Home Server!</h1>
    <p>Below you can see some statistics from your server</p>

    {% for item in containers $}

    {% endfor %}

    <style>
        body {
            padding: 12px;
            width: 100%;
            overflow: hidden;
        }
    </style>
</body>
</html>
