<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home Server</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="stylesheet" href="/static/material/material.min.css">
		<!-- <link rel="stylesheet" href="/static/material/material.cyan-red.min.css"> -->
</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">HomeServer</span>
			<nav class="mdl-navigation">
				<div id="action-buttons">
					<a href='/addplugin'><button id="add-app" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Add App</button></a>
					<a href='/editapps'><button id="edit-apps" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Edit Apps</button></a>
				</div>
				<hr>
				<li class="mdl-navigation__link" onclick="onAppClick('/home')">Home</li>
				{% for item in apps['Docker'] %}
					<li onclick="onAppClick('{{ apps['Docker'][item].url }}')" class="mdl-navigation__link">{{ apps['Docker'][item].name }}</li>
				{% endfor %}
				{% for item in apps['Plugins'] %}
					<li onclick="onAppClick('{{ apps['Plugins'][item].url }}')" class="mdl-navigation__link">{{ apps['Plugins'][item].name }}</li>
				{% endfor %}
			</nav>
		</div>
		<main class="mdl-layout__content">
			<div class="page-content"><iframe id="content" src="/home"></iframe></div>
		</main>
	</div>

	<script> 
		function onAppClick(url){
			document.getElementById("content").src = url;
		}
	</script>
	<style>
		#action-buttons {
			display: flex;
			margin: auto;
		}

		#action-buttons > a {
			flex-grow: 1;
			margin: 4px;
		}

		body {
			/* display: flex; */
			height: 100vh;
		}

		#sidebar {
			flex-grow: 1;
			min-width: 100px;
			max-width: 200px;
		}

		#content {
			flex-grow: 5;
			border: none;
			height: 100%;
			width: 100%;
		}

		.page-content {
			height: 100vh;
		}
	</style>
</body>
</html>
